:root {
  --accent-color: #006090;
  --accent-color-hover: #1d85b9;
  --bg-color: #a5a5a5;
  --bg-color-second: #888888;
  --attention: #c90202;
}

body {
  background-color: #505050;
  font-family: "Helvetica", Serif;
  font-size: 12px;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

img {
  object-fit: contain;
}

font {
  color: #ffffff;
}

.show-header img {
  animation: showing-logo-header 400ms ease-in-out forwards;
}

.hide-header img {
  animation: hiding-logo-header 400ms ease-in-out forwards;
}

.center-line {
  text-align: center;
}

.attention {
  color: #000000;
  font-size: 16px;
  animation: Attention 3s ease-in-out infinite;
}

.list-style-disc {
  list-style: disc;
  padding-left: 20px;
}

.list-style-disc > li {
  margin-top: 5px;
}

.list-style-disc > li > a > img {
  margin-right: 7px;
}

.target-link,
.new-information > a,
.navigation-bar div,
.navigation-bar a,
ul.navigation li,
.employees-content {
  transition: 0.4s ease-in-out;
}

.main-information,
.navigation-bar,
.new-information,
.employees-content,
.files {
  border-radius: 8px;
  background-color: var(--bg-color-second);
}

.files {
  padding: 10px;
}

.target-link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 25px;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  color: #383838;
  box-shadow: inset 0 -5px 0 var(--accent-color);
}

.target-link:hover {
  box-shadow: inset 0 -100px 0 var(--accent-color), 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.table {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0px;
}

.table-body {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  text-align: center;
}

.table-title {
  color: #ffffff;
  font-size: 18px;
  padding: 10px 0px;
  background-color: var(--accent-color);
  width: 100%;
  text-align: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.table-body span {
  width: inherit;
  border: 1px solid #555;
  padding: 10px;
}

.table-body span:nth-of-type(even) {
  background: var(--bg-color-second);
}

.table-body span:nth-of-type(odd) {
  background: var(--bg-color);
}

.files img {
  margin-right: 5px;
}

/*Header and footer*/
.header,
.footer {
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 52%);
}

.menu-arrow {
  width: 20px;
  filter: invert(1);
  z-index: 5;
}

header.header {
  z-index: 10;
  position: fixed;
  top: 0;
  list-style: none;
  line-height: normal;
  width: 100%;
}

.logo,
.block-menu {
  background-color: var(--accent-color);
}

.logo {
  text-align: center;
}

.block-menu {
  box-shadow: inset 0 -4px 0 var(--accent-color-hover);
}

ul.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
  flex-direction: row;
}

ul.navigation li:hover {
  box-shadow: inset 0 -40px 0 var(--accent-color-hover);
}

.menu-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
  background-color: #0000004a;
}

footer.footer {
  z-index: 10;
  background-color: var(--accent-color);
  padding: 10px 20px;
  color: #ffffff;
  font: caption;
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0;
}

.footer .mobile {
  display: none;
}

.show-close-button {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 35px;
  filter: invert(1);
}

/*Header and footer*/

.main-container {
  max-width: 1000px;
  min-height: calc(100vh - 210px);
  margin: 0 auto;
  padding: 125px 25px 20px;
  border: 1px solid #000000;
  background-color: var(--bg-color);
}

.section-title {
  font-size: 35px;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}

.section-body p {
  font-size: 16px;
  margin: 8px 0;
}

.section-body a {
  color: var(--accent-color);
  font-weight: bold;
  animation: link 1s linear infinite;
  border-bottom: 1px solid var(--accent-color);
}

.section-body a:hover {
  animation: none;
}

.employees-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.employees-content {
  text-align: center;
  width: 30%;
  margin: 5px;
  padding: 10px;
}

.employees-content:hover {
  transform: scale(1.025);
}

.employees-content h2 {
  height: 40px;
}

.main-information {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 30px 0;
}

.main-information .item {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.new-information {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.item div {
  background: center 100% / 100% no-repeat;
  width: 320px;
  height: 240px;
}

.news {
  margin: 0 auto;
  max-width: 800px;
  padding: 15px;
  font-size: 20px;
}

.news-date {
  display: block;
  float: left;
  text-align: left;
  margin-right: 15px;
}

.navigation-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;
  padding: 2px 8px;
  margin-bottom: 10px;
}

.info-education-table {
  font-size: 16px;
}

.info-education-table p {
  font-size: inherit;
  margin: 0;
}

.info-education-table .files {
  border-radius: 0px;
}

.info-education-table .files p {
  margin: 8px 0;
  text-align: start;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

:-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 1245px) {
  .main-container {
    padding: 160px 25px 20px;
    min-height: calc(100vh - 245px);
  }
}

@media screen and (max-width: 1066px) {
  .section-title {
    font-size: 25px;
  }

  .new-information .target-link {
    font-size: 14px;
    margin: 10px 13px;
  }

  .news {
    font-size: 14px;
  }

  .employees-content {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  ul.navigation {
    flex-direction: column;
  }

  .main-container {
    padding: 80px 25px 20px;
    min-height: calc(100vh - 250px);
  }

  .section-title {
    font-size: 20px;
  }

  .navigation-bar {
    flex-direction: column;
  }

  .navigation-bar > div:hover {
    transform: scale(1.03);
  }

  .main-information .item {
    font-size: 1.3em;
  }

  .new-information .target-link {
    font-size: 11px;
    padding: 10px 10px;
  }

  .table-title {
    font-size: 12px;
  }

  .table-body span {
    padding: 7px 0;
    font-size: 10px;
  }

  .social {
    flex-direction: column;
    align-items: center;
  }

  .social p {
    margin-bottom: 10px;
  }

  .employees-content {
    width: 100%;
  }
}

@media screen and (max-width: 510px) {
  .main-container {
    min-height: calc(100vh - 262px);
  }

  .section-title {
    font-size: 15px;
  }

  .main-information .item {
    font-size: 1.1em;
  }

  .navigation a {
    font-size: 11px !important;
  }

  .new-information {
    flex-direction: column;
  }

  .new-information .target-link {
    font-size: 12px;
    padding: 10px 7px;
  }

  .table-body span {
    padding: 5px 0;
    font-size: 8px;
  }

  .footer .desktop {
    display: none;
  }

  .footer .mobile {
    display: block;
  }
}

@keyframes Attention {
  50% {
    color: var(--attention);
  }
}

@keyframes link {
  50% {
    border-bottom: 1px solid transparent;
  }
}

@keyframes showing-logo-header {
  from {
    height: 0;
    margin: 0;
  }
  to {
    height: 41px;
    margin: 10px 0;
  }
}

@keyframes hiding-logo-header {
  from {
    height: 41px;
    margin: 10px 0;
  }
  to {
    height: 0;
    margin: 0;
  }
}
