body {
  background-color: #505050;
}

.main-container {
  max-width: 1000px;
  min-height: calc(100vh - 235px);
  margin: 0 auto;
  padding: 150px 25px 20px;
  border: 1px solid black;
  background-color: #a5a5a5;
}
